body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding:0;
  overflow-x:hidden;
  overflow-y:visible;
  min-height: 500vh;
  max-height: 500vh;
  background-image: radial-gradient(transparent, black), radial-gradient(transparent, rgba(0,0,0,0.4)), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9)), url("./Assets/cinemascreen_replaced_screenblack.jpg");
  background-color: #000000;
  background-size: auto 66%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

html{
  margin: 0;
  padding:0;
  overflow-x:clip;
  overflow-y:visible;
  /*varmistus että kans toimii vanhemmilla malleilla*/
  min-height: 300vh;
  max-height: 300vh;
}

.videoPlayer{
  box-shadow: 10px 10px 10px #1d0101;
  background-color:rgb(14,0,0);
  box-shadow: 0 0 10px #747474, 0 0 20px #1b0303, 0 0 300px #1b0303;
  animation: shiftBorderColor 16s linear infinite; /*tää lopetti toimimisen????*/
  border-style:groove;
  border-width: 4px;
}

@keyframes shiftBorderColor {
  from {
    border-color: #141414;
  }
  to {
    border-color: #0c0000;
  }
  to { /*joskus toimi ilman tätä kolmatta keyframee ja sit kaikki hajos xd*/
    border-color: #141414;
  }
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  image-rendering:smooth; /*pro hacker tip 2014 kuinka piilotella matalaresoluutisii kuvia*/
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.aspectRatio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: max(40svw, 450px);
  min-width: 200px;
}

.ambilightWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.positionWrapper {
  position:sticky;
  /*pässää offset value tänne ? */
  top:30vw;
  z-index:1;
}

#video {
  width: 100%;
  height: 100%;
}

#ambilight {
  filter: blur(max(50px, 9vw)) opacity(0.55) saturate(250%); 
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.05) translateZ(0);
  width: 100%;
  z-index: -1;
  height: 100%;
}

.headerMobile {
  position: absolute;
  top:0px;
  display:flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width:100%;
  height:100px;
  background: linear-gradient(to bottom,rgb(36, 28, 28),rgb(0, 0, 0));
  filter:blur(8px); /*abuseen tällä sivustolla ihan liikaa filter:bluria se on aik raskas efekti 
  mut se on nii hienoooo ja spotify vie kuitenki 5x enemmän cpu tehoo hhahhhaaaahh ehöhöööö*/
}

.headerDesktop {
  position: absolute;
  top:1.5vw;
  left:1vw;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items:flex-start;
  text-align: center;
  align-items: center;
  padding: 0 35px;
  box-sizing:border-box;
  width:100%;
  height:100px;
}

.headerImage {
  position: absolute;
  width:min(100svw, 100svw);
  display:flex;
  justify-content: center;
}

.headerButtons{
  display:flex;
  width: auto;
  flex-direction: row;
  z-index: 1;
  gap:3.5vw;
}

.headerButtons img:hover{
  transform:scale(1.1);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(210, 6, 27) 0 0 2vw) drop-shadow(rgb(210, 6, 27) 0 0 4vw);
}

.headerButtons img {
  width: 3vw;
  height: 3vw;
  transform:scale(1.0);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(158, 27, 10) 1vw 1vw 5vw) drop-shadow(rgb(73, 1, 8) 1vw 1vw 7vw);
  transition: filter 0.3s ease, transform 0.3s ease;
  padding:30px;
  min-width: 40px;
  min-height: 40px;
}


.curtainsWrapper{
  position: sticky;
  top: 0px; 
  height: 100vh; 
  width:100%;
  overflow:hidden;
  z-index: 2;
  filter:opacity(0.997);
  pointer-events: none;
}

.curtain{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  left: 0;
}

.curtainGradient{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%);
  background-color:rgb(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 3;
}


.lightsWrapper {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100%; 
  width: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.lightBeamLeft {
  position: absolute;
  bottom:41%;
  transform-origin: 100% 50%;
  width:70vw;
  height:auto;
  animation: leftLightShit 3s ease-in-out infinite;
}

/*värianimaatio värin shi(f)t funktio ᓚᘏᗢ*/
@keyframes leftLightShit{
  0%, 100% 
  {
    filter: opacity(0.39) drop-shadow(3px 4px 10px rgb(128, 0, 0));
  }
  50% {
    filter: opacity(0.52) drop-shadow(3px 4px 10px rgba(43, 42, 42, 0.562));
  }
}

.lightBeamRight{
  position: absolute;
  bottom: 40%;
  right: -17%;
  transform-origin: 100% 50%;
  width:70vw;
  height:auto;
  animation: rightLightShit 3s ease-in-out infinite;
}

@keyframes rightLightShit{
  0%, 100%
  {
    filter: opacity(0.52) drop-shadow(3px 4px 10px rgba(43, 42, 42, 0.562));
  }
  50% {
    filter: opacity(0.39) drop-shadow(3px 4px 10px rgb(168, 3, 3));
  }
}

.spotLightLogo{
  position:absolute;
  right:50%;
  height:auto;
  filter: drop-shadow(3px 4px 10px rgb(142, 8, 8));
  transform: translateX(50%)
}

.footer{
  height:600vh;
  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-items:center;
  text-align: center;
  align-items: center;
  box-sizing:border-box;
  width:100%;
  overflow:hidden;
}

.footerWrapper{
  width:100%;
}

.footerButtons{
  position:absolute;
  bottom:-472vw;
  display:flex;
  width: 100%;
  height:100%;
  flex-direction: row;
  z-index: 1;
  gap:10vw;
}

.footerButtons img:hover{
  transform:scale(1.1);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(210, 6, 27) 0 0 2vw) drop-shadow(rgb(210, 6, 27) 0 0 4vw);
}

.footerButtons img {
  width: 5vw;
  height: 5vw;
  transform:scale(1.0);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(158, 27, 10) 1vw 1vw 5vw) drop-shadow(rgb(73, 1, 8) 1vw 1vw 7vw);
  transition: filter 0.3s ease, transform 0.3s ease;
  padding:30px;
  min-width: 40px;
  min-height: 40px;
}

.infoText{
  color:white; 
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align: center; 
  position:relative;
  z-index:3;
  max-width: 80%;
  margin: 7.5vw;
}