body {
  background-color: rgb(0, 0, 0);
  overflow-x:hidden;
  overflow-y:hidden;
  background-image: radial-gradient(transparent, black), radial-gradient(transparent, rgba(0,0,0,0.4)), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9)), url("./Assets/cinemascreen_replaced_screenblack.jpg");
  background-color: #000000;
  background-size: auto 66%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

html{
  margin: 0;
  padding:0;
  overflow-x:hidden;
  overflow-y:visible;
}

.App {
  width: 100%;
  height: max(300vw, 300vh);
  min-height:150vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x:hidden;
  overflow-y:hidden;
  image-rendering:optimizeSpeed;
}

.videoPlayer{
  box-shadow: 10px 10px 10px #1d0101;
  background-color:rgb(14,0,0);
  box-shadow: 0 0 10px #747474, 0 0 20px #1b0303, 0 0 300px #1b0303;
  animation: shiftBorderColor 16s linear infinite;
  border-style:groove;
  border-width: 4px;
  display: flex;
}

@keyframes shiftBorderColor {
  from {
    border-color: #141414;
  }
  to {
    border-color: #0c0000;
  }
  to {
    border-color: #141414;
  }
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'BodoniModa';
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight:normal;
  font-family:'CroissantOne';
  letter-spacing:0.05ch;
}

.aspectRatio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: max(40svw, 450px);
  min-width: 100px;
}

.ambilightWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.positionWrapper {
  position:sticky;
  top:30vw;
  z-index:1;
}

#video {
  width: 100%;
  height: 100%;
}

#ambilight {
  filter: blur(max(50px, 9vw)) opacity(0.55) saturate(550%); 
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.05) translateZ(0);
  width: 100%;
  z-index: -1;
  height: 100%;
}

.headerMobile {
  position: absolute;
  top:0px;
  display:flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width:100%;
  height:100px;
  background: linear-gradient(to bottom,rgb(36, 28, 28),rgb(0, 0, 0));
  filter:blur(8px); /*abuseen tällä sivustolla ihan liikaa filter:bluria se on aik raskas efekti 
  mut se on nii hienoooo ja spotify vie kuitenki 5x enemmän cpu tehoo hhahhhaaaahh ehöhöööö*/
}

.headerImage {
  position: absolute;
  width:min(100svw, 100svw);
  display:flex;
  justify-content: center;
}

.headerDesktopLeft {
  position: absolute;
  top:2vw;
  left:1.25vw;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items:flex-start;
  text-align: center;
  align-items: center;
  padding: 0 35px;
  box-sizing:border-box;
  width:50%;
  height:100px;
  z-index: 3;
}

.headerDesktopRight {
  position: absolute;
  top:2vw;
  right:1.25vw;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items:flex-end;
  text-align: center;
  align-items: center;
  padding: 0 35px;
  box-sizing:border-box;
  width:50%;
  height:100px;
  z-index: 3;
}

.headerMobileRight {
  position: absolute;
  top:2vw;
  right:1.25vw;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items:flex-end;
  text-align: center;
  align-items: center;
  padding: 0 35px;
  box-sizing:border-box;
  width:100%;
  height:100px;
  z-index: 3;
}


.headerButtons{
  display:flex;
  width: auto;
  flex-direction: row;
  z-index: 1;
  gap:1.5vw;
  text-align: center;
  cursor:pointer;
}

.headerButtons button{
  width: 4vw;
  height: 4vw;
  padding:20px;
  min-width: 45px;
  min-height: 45px;
  background-color:#000000;
  border:#141414;
  border-style:outset;
  border-width: 5px;
  color:rgb(204, 204, 204);
  box-shadow: 0px 0px 10px 5px #480000;
  display:inline-block;
  text-align: center;
  line-height: 0%;
  border-radius: 42.5%;
  transition: filter 1s ease, margin 1s ease, transform 1s ease;
  cursor:pointer;
  font-family: "CroissantOne";
}

.headerButtons button.activeHeaderButton{
  background-color:#140000;
  filter:drop-shadow(3px 4px 3px rgb(255, 255, 255));
  box-shadow: 0px 0px 12px 5px #360505;
  box-shadow: 0px 0px 0px 1.5px #c16969;
  color:#ffffff;
}

.headerButtons button:hover{
  border-style: inset;
}

.headerButtons .invisible button{
  margin-right: -50px;
  filter:drop-shadow(3px 4px 2px rgb(255, 255, 255)) opacity(0);
  transform:rotate(180deg);
  width:6.5vw;
  height:6.5vw;
}
.headerButtons .visible button{
  margin-right: 20px;
  filter:drop-shadow(3px 4px 20px rgb(255, 255, 255)) opacity(1);
  transform:rotate(360deg);
  width:6.5vw;
  height:6.5vw;
}

.headerButtons img:hover{
  transform:scale(1.1);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(210, 6, 27) 0 0 2vw) drop-shadow(rgb(210, 6, 27) 0 0 4vw);
}

.headerButtons img {
  animation:none;
  width: 4vw;
  height: 4vw;
  transform:scale(1.0);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(158, 27, 10) 1vw 1vw 5vw) drop-shadow(rgb(73, 1, 8) 1vw 1vw 7vw);
  transition: filter 0.3s ease, transform 0.3s ease;
  padding:0px;
  min-width: 40px;
  min-height: 40px;
  transition: filter 1s ease, transform 2s ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobileLangButtons button{
  width: 3vw;
  height: 3vw;
  padding:20px;
  min-width: 45px;
  min-height: 45px;
  background-color:#000000;
  border:#141414;
  border-style:outset;
  border-width: 5px;
  color:rgb(204, 204, 204);
  box-shadow: 0px 0px 10px 5px #480000;
  display:inline-block;
  text-align: center;
  line-height: 0%;
  border-radius: 42.5%;
}

.mobileLangButtons button.activeHeaderButton{
  background-color:#140000;
  filter:drop-shadow(3px 4px 3px rgb(255, 255, 255));
  box-shadow: 0px 0px 12px 5px #360505;
  box-shadow: 0px 0px 0px 1.5px #c16969;
  color:#ffffff;
}

.mobileLangButtons button.visible{
  background-color:#140000;
  filter:drop-shadow(3px 4px 3px rgb(255, 255, 255));
  box-shadow: 0px 0px 12px 5px #360505;
  box-shadow: 0px 0px 0px 1.5px #c16969;
  color:#ffffff;
}

/*pistää alt tekstit valkoseks*/
img {color:white}

.curtainsWrapper{
  position: sticky;
  top: 0px;
  height: 100vh; 
  width:100%;
  overflow:hidden;
  z-index: 4;
  filter:opacity(0.997);
  pointer-events: none;
}

.curtain{
  width: 100%;
  height: 100%;
  object-fit:fill;
  position: absolute;
  left: 0;
}

.curtainGradient{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%);
  background-color:rgb(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 3;
}


.lightsWrapper {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100%; 
  width: 100%;
  overflow: hidden;
  z-index: 5;
  pointer-events: none;
}

.lightBeamLeft {
  position: absolute;
  bottom:41%;
  transform-origin: 100% 50%;
  width:70vw;
  height:auto;
  animation: leftLightShit 3s ease-in-out infinite;
}

/*värianimaatio värin shi(f)t funktio ᓚᘏᗢ*/
@keyframes leftLightShit{
  0%, 100% 
  {
    filter: opacity(0.39) drop-shadow(3px 4px 10px rgb(128, 0, 0)); /* siist efekti blur(6px) contrast(50) grayscale(100%)*/
  }
  50% {
    filter: opacity(0.52) drop-shadow(3px 4px 10px rgba(43, 42, 42, 0.562));
  }
}

.lightBeamRight{
  position: absolute;
  bottom: 40%;
  right: -17%;
  transform-origin: 100% 50%;
  width:70vw;
  height:auto;
  animation: rightLightShit 3s ease-in-out infinite;
}

@keyframes rightLightShit{
  0%, 100%
  {
    filter: opacity(0.52) drop-shadow(3px 4px 10px rgba(43, 42, 42, 0.562));
  }
  50% {
    filter: opacity(0.39) drop-shadow(3px 4px 10px rgb(168, 3, 3));
  }
}

.spotLightLogo{
  position:absolute;
  right:50%;
  height:auto;
  width:auto;
  display: flex;
  filter: drop-shadow(3px 4px 10px rgb(142, 8, 8));
  transform: translateX(50%);
  padding:15vw;
}

.clubXInfo{
  color:white; 
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
  text-align: center; 
  position:relative;
  z-index:5;
  max-width: 80%;
  padding-left:10vw;
  padding-right:10vw;
  margin: 15vw;
  overflow-x:hidden;
}

.footer{
  margin-top: -5vh;
  margin-bottom:-5vh;
  padding: 15vh;
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-items:center;
  text-align: center;
  align-items: center;
  box-sizing:border-box;
  width:auto;
  height:auto;
  overflow:hidden;
}

.footerButtons{
  display: flex;
  flex-direction: row;
  z-index: 4;
  gap: 10vw;
}

.footerButtons img:hover{
  transform:scale(1.1);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(210, 6, 27) 0 0 2vw) drop-shadow(rgb(210, 6, 27) 0 0 4vw);
}

.footerButtons img {
  width: 3vw;
  height: 3vw;
  transform:scale(1.0);
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(158, 27, 10) 1vw 1vw 5vw) drop-shadow(rgb(73, 1, 8) 1vw 1vw 7vw);
  transition: filter 0.3s ease, transform 0.3s ease;
  padding:30px;
  min-width: min(80px, 10vw);
  min-height: 80px;
}

.sponsors{
  transform:scale(0.75);
  margin-bottom: 5vh;
  margin-top:-10vh;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items:center;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  padding:5vw;
  overflow:hidden;
  padding-bottom:15vw;
}

.sponsors img{
  width:auto;
  object-fit:contain;
  width:100%;
  height:auto;
  margin:-2vw;
  min-width: 500px;
  min-height: auto;
  filter: drop-shadow(3px 4px 5px rgba(150, 6, 20, 0.5)) drop-shadow(rgb(61, 4, 10) 0 0 0.75vw) drop-shadow(rgb(56, 5, 10)0 0 1.5vw);
  overflow:hidden;
  image-rendering:optimizeQuality;
  transform:scale(0.75);
}

.fullBackgrounGradient{
  position:fixed;
  top:0vh;
  height:100vh;
  left:0;
  width:100%;
  z-index:-1;
  background-color: #631414;
  color:#c70000;
}

@font-face {
font-family: 'Asul';
  src: url('./Fonts/Asul-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DancingScript';
  src: url('./Fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*club x logo pääfontti ᓚᘏᗢ*/
@font-face {
  font-family: 'Limelight';
  src: url('./Fonts/Limelight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Notable';
  src: url('./Fonts/Notable-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodoniModa';
  src: url('./Fonts/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CroissantOne';
  src: url('./Fonts/CroissantOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}